In [1]:
import pandas as pd
import csv
import time
from PER import PER_function #refer to PER.py

In [2]:
from nba_api.stats.static import players
player_dict = players.get_active_players()#all active players 

#making a player_id + name DF from NBA_API in order to merge other DFs 
player_dict_df = pd.DataFrame(player_dict)
full_name_id = player_dict_df[['id','full_name']]
renamed_full_name_id = full_name_id.rename(columns={'id': 'Player_ID', 'full_name': 'player'})
renamed_full_name_id.head()

In [3]:
player_df = pd.read_csv('alldatabasketball.csv')
player_df = player_df.dropna(how='any')

player2_df = player_df[['Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL','MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 
                        'FTM', 'FTA','FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS', 'PLUS_MINUS']]

player2_df.head() #this DF contains all data from 2002-present, WITH NO FULL NAMES

,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS
1,203500.0,21801226.0,10-Apr-19,OKC @ MIL,W,12.0,1.0,5.0,0.200,0.0,...,2.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,4.0,-1.0
3,203500.0,21801218.0,9-Apr-19,OKC vs. HOU,W,37.0,3.0,11.0,0.273,0.0,...,8.0,5.0,13.0,1.0,0.0,0.0,0.0,1.0,8.0,2.0
5,203500.0,21801197.0,7-Apr-19,OKC @ MIN,W,27.0,4.0,5.0,0.800,0.0,...,2.0,4.0,6.0,1.0,1.0,0.0,3.0,6.0,8.0,31.0
7,203500.0,21801186.0,5-Apr-19,OKC vs. DET,W,24.0,7.0,9.0,0.778,0.0,...,8.0,6.0,14.0,0.0,0.0,2.0,2.0,4.0,14.0,1.0
9,203500.0,21801161.0,2-Apr-19,OKC vs. LAL,W,33.0,6.0,11.0,0.545,0.0,...,7.0,1.0,8.0,3.0,1.0,5.0,2.0,2.0,13.0,26.0

In [4]:
player3_df = pd.merge(player2_df,renamed_full_name_id, on='Player_ID')
player3_df = player3_df.set_index("player")
player3_df.head() #this DF has Full Names now + PlayerID

,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS
player,,,,,,,,,,,,,,,,,,,,,
Steven Adams,203500.0,21801226.0,10-Apr-19,OKC @ MIL,W,12.0,1.0,5.0,0.200,0.0,...,2.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,4.0,-1.0
Steven Adams,203500.0,21801218.0,9-Apr-19,OKC vs. HOU,W,37.0,3.0,11.0,0.273,0.0,...,8.0,5.0,13.0,1.0,0.0,0.0,0.0,1.0,8.0,2.0
Steven Adams,203500.0,21801197.0,7-Apr-19,OKC @ MIN,W,27.0,4.0,5.0,0.800,0.0,...,2.0,4.0,6.0,1.0,1.0,0.0,3.0,6.0,8.0,31.0
Steven Adams,203500.0,21801186.0,5-Apr-19,OKC vs. DET,W,24.0,7.0,9.0,0.778,0.0,...,8.0,6.0,14.0,0.0,0.0,2.0,2.0,4.0,14.0,1.0
Steven Adams,203500.0,21801161.0,2-Apr-19,OKC vs. LAL,W,33.0,6.0,11.0,0.545,0.0,...,7.0,1.0,8.0,3.0,1.0,5.0,2.0,2.0,13.0,26.0

In [5]:
with open ('FinalData.csv', 'a') as f: 
          player3_df.to_csv(f,mode='a', header=f.tell()==0)

In [6]:
alldata = pd.read_csv('FinalData.csv')
alldata_df = alldata.dropna(how='any')

alldata_df.head()

,player,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS
0,Steven Adams,203500.0,21801226.0,10-Apr-19,OKC @ MIL,W,12.0,1.0,5.0,0.200,...,2.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,4.0,-1.0
1,Steven Adams,203500.0,21801218.0,9-Apr-19,OKC vs. HOU,W,37.0,3.0,11.0,0.273,...,8.0,5.0,13.0,1.0,0.0,0.0,0.0,1.0,8.0,2.0
2,Steven Adams,203500.0,21801197.0,7-Apr-19,OKC @ MIN,W,27.0,4.0,5.0,0.800,...,2.0,4.0,6.0,1.0,1.0,0.0,3.0,6.0,8.0,31.0
3,Steven Adams,203500.0,21801186.0,5-Apr-19,OKC vs. DET,W,24.0,7.0,9.0,0.778,...,8.0,6.0,14.0,0.0,0.0,2.0,2.0,4.0,14.0,1.0
4,Steven Adams,203500.0,21801161.0,2-Apr-19,OKC vs. LAL,W,33.0,6.0,11.0,0.545,...,7.0,1.0,8.0,3.0,1.0,5.0,2.0,2.0,13.0,26.0

In [7]:
PER_function(alldata_df)