In [26]:
import pandas as pd
import csv
import time

In [19]:
#Filtered from PER_calculation, 2020MVP.csv contains all 2019-2020 season games 
#active players every game with PER calculations   
MVP2020_df = pd.read_csv("2020MVP.csv")
MVP2020_df.head()

,player,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,PER
0,Steven Adams,203500,21900949,3/8/2020,OKC @ BOS,W,26,1,2,0.500,...,6,6,1,3,1,1,1,6,4,15.633269
1,Steven Adams,203500,21900932,3/6/2020,OKC @ NYK,W,24,5,8,0.625,...,5,11,1,0,2,0,0,12,14,34.475083
2,Steven Adams,203500,21900918,3/4/2020,OKC @ DET,W,32,4,5,0.800,...,7,7,3,3,1,5,1,8,2,11.418094
3,Steven Adams,203500,21900912,3/3/2020,OKC vs. LAC,L,27,2,6,0.333,...,5,10,2,0,0,1,5,4,-17,6.442593
4,Steven Adams,203500,21900882,2/28/2020,OKC @ MIL,L,17,4,5,0.800,...,6,7,3,1,0,1,1,8,-5,30.514059

In [20]:
MVP2020_df['TEAM'] = MVP2020_df['MATCHUP'].str[:3]
MVP2020_df.head()

,player,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,PER,TEAM
0,Steven Adams,203500,21900949,3/8/2020,OKC @ BOS,W,26,1,2,0.500,...,6,1,3,1,1,1,6,4,15.633269,OKC
1,Steven Adams,203500,21900932,3/6/2020,OKC @ NYK,W,24,5,8,0.625,...,11,1,0,2,0,0,12,14,34.475083,OKC
2,Steven Adams,203500,21900918,3/4/2020,OKC @ DET,W,32,4,5,0.800,...,7,3,3,1,5,1,8,2,11.418094,OKC
3,Steven Adams,203500,21900912,3/3/2020,OKC vs. LAC,L,27,2,6,0.333,...,10,2,0,0,1,5,4,-17,6.442593,OKC
4,Steven Adams,203500,21900882,2/28/2020,OKC @ MIL,L,17,4,5,0.800,...,7,3,1,0,1,1,8,-5,30.514059,OKC

In [21]:
PER20 = MVP2020_df[['TEAM','player', 'Player_ID', 'MATCHUP','WL', 'PTS','REB', 'AST','PLUS_MINUS', 'PER']]
PER20.head()

,TEAM,player,Player_ID,MATCHUP,WL,PTS,REB,AST,PLUS_MINUS,PER
0,OKC,Steven Adams,203500,OKC @ BOS,W,6,6,1,4,15.633269
1,OKC,Steven Adams,203500,OKC @ NYK,W,12,11,1,14,34.475083
2,OKC,Steven Adams,203500,OKC @ DET,W,8,7,3,2,11.418094
3,OKC,Steven Adams,203500,OKC vs. LAC,L,4,10,2,-17,6.442593
4,OKC,Steven Adams,203500,OKC @ MIL,L,8,7,3,-5,30.514059

In [22]:
PER20['PER'] = PER20['PER'].astype(float)
PER20_df = PER20.loc[PER20['PER'] >= 15]
PER2020 = PER20_df.loc[PER20_df['PER'] <= 40]

C:\Users\whl42\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
PER2020.columns

Index(['TEAM', 'player', 'Player_ID', 'MATCHUP', 'WL', 'PTS', 'REB', 'AST',
       'PLUS_MINUS', 'PER'],
      dtype='object')

In [25]:
PER2020 = PER20.groupby(['player', 'TEAM'])
PER2020_df = PER2020[['PLUS_MINUS','PER']].mean()
PER2020_df.nlargest(20, ['PLUS_MINUS', 'PER'])

                            PLUS_MINUS        PER
player                TEAM
Giannis Antetokounmpo MIL    11.350877  38.919324
Anthony Tolliver      MEM     9.600000   8.422669
Khris Middleton       MIL     8.981818  26.685333
Eric Bledsoe          MIL     8.142857  22.009764
LeBron James          LAL     8.050000  30.797938
Brook Lopez           MIL     7.852459  16.402068
Kawhi Leonard         LAC     7.803922  32.140916
Marcus Morris Sr.     LAC     7.583333  10.091728
Max Strus             CHI     7.500000  20.149100
Jayson Tatum          BOS     7.457627  23.746287
Donte DiVincenzo      MIL     6.949153  17.128000
Wesley Matthews       MIL     6.870968   9.699787
Pascal Siakam         TOR     6.773585  22.619966
Marc Gasol            TOR     6.666667  14.417600
Zach Collins          POR     6.333333  10.105540
Zion Williamson       NOP     6.315789  29.780538
Dragan Bender         MIL     6.285714  10.358764
Gordon Hayward        BOS     6.222222  20.596512
Naz Mitrou-Long       IND     6.000000  10.411441
Luka Samanic          SAS     6.000000  -1.942917